/** bootstrap overrides **/

.container {
  padding-top: 20px;
}
.row {
  margin-top: 20px;
}
a:link, a:visited {
  color: #b71719;
}

/** app styling **/
html {
  height: 100%;
/*  background: url('../images/bg.png') repeat-x bottom left;*/
}
body {
  background: none;
}
.header {
  margin-top: -20px;
}
.header .btn {
  color: #333333;
  float: right;
  margin-right: 58px;
}
.header p { 
  float: right; 
  margin-right: 58px; 
}
.header .nav {
  float: left;
  margin-left: 40px;
  font-size: 11px;
  padding-top: 5px;
}
#main {
/*  min-height: 500px;*/
}

/** logo **/
.logo {
  margin-top: -20px;
  padding: 10px;
  overflow: hidden;
  text-decoration: none;
  display: block;
}
.logo img {
  float: left;
  margin-right: 17px;
}
.logo h1 {
  font-size: 32px;
  margin: 0;
  line-height: 110%;
}
.logo .slogan {
  font-size: 12px;
  color: #b71719;
}

/** search bar **/
.search {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: url('../images/search-icon.png') no-repeat 10px center;
  width: 500px;
  border: 1px solid #CCC;
  padding: 10px;
  padding-left: 30px;
  color: #888;
  font-size: 18px;
  -webkit-box-shadow: 0px 0px 5px #DDD;
  -moz-box-shadow: 0px 0px 5px #DDD;
  box-shadow: 0px 0px 5px #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 7px;
  margin-left: 40px;
  text-transform: lowercase;
}

/** avatars **/

.avatar-frame {
  float: left;
  margin-left: -68px;
  position: relative;
}
.avatar-frame img {
  width: 38px;
  width: 38px;
  position: absolute;
  top: 15px;
  left: 13px;
}
.overlay {
  width: 68px;
  height: 68px;
  float: left;
  background: url('../images/avatar-mask.png') no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
}

/*** boxes ***/
h2 {
/*  font-size: 15px;*/
  color: #333;
  font-weight: bold;
  background: #F6F6F6;
}
.box {
  border: 1px solid #CCC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px #DDD;
  -moz-box-shadow: 0px 0px 5px #DDD;
  box-shadow: 0px 0px 5px #DDD;
}
h2 {
  padding: 5px 50px;
}
.home h2 {
  padding: 5px 80px;
}
.items {
  list-style: none;
  margin: 0px;
  padding: 0px;
  opacity: 0.95;
}
.items li {
  background: #FFF;
  margin: 0;
  display: block;
  padding: 10px 20px 10px 80px;
  border-top: 1px solid #CCC;
  overflow: hidden;
}
.items li h3 {
  font-size: 30px;
  color: #8D0000;
  font-weight: bold;
  text-transform: lowercase;
}
.items li h3 a {
  color: #8D0000;
  font-weight: bold
}
.items li p {
  color: #7F7F7F;
  line-height: 130%;
  font-size: 15px;
  text-transform: lowercase;
}
.tags {
  list-style: none;
  margin: 0px;
}
.tags li {
  float: left;
  padding: 0px;
  border: none;
  text-transform: lowercase;
}
.tags li a {
  color: #fff;
  display: block;
  background: url('../images/tag.png') no-repeat left center #8E0000;
  height: 19px;
  padding: 0px 5px 0px 15px;
  font-size: 12px;
  border-top: 0px;
  color: #fff;
  margin-right: 5px;
  margin-bottom: 5px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.tags li a:hover {
  opacity: 0.85;
  text-decoration: none;
}

/** project listings **/
.pagination ul li.active a, .pagination ul li a:hover {
  background-color: #F3F3F3;
}

.activity {
  float: right;
  position: relative;
  top: -10px;
  right: 30px;
  text-align: center;
  width: 56px;
  height: 40px;
  margin: 0;
}

/** project **/
#simplemodal-overlay {
  background-color: #000;
}
.contributors ol {
  list-style: none;
/*  background-color: blue;*/
}
.contributors ol li {
  padding-left: 75px;
  padding-top: 0px;
  margin-top: -12px;
}
.contributors .buffer {
/*  background-color:red;*/
  height: 10px;
}
.contributors h2 {
  text-align: center
}
.contribtor {
  margin-left: 80px;
}
.project .restrict {
  padding-left: 50px;
  padding-right: 20px;
}
.project .restrict p, .description ul li {
  padding-top: 8px;
  line-height: 22px;
  font-size: 15px;
}
ul {
  list-style-type: square;
}
.overview {
/*  background-color: red;*/
  height: 90px;
}
.overview ul {
  float: left;
  padding-top: 6px;
}
.overview ul li {
  line-height: 24px;
}
.overview .activity {
  top: 21px;
}

/** footer **/
#footer {
  padding: 20px 0px;
  font-size: 11px;
  clear: both;
}
